.overview .cell .indexed-cell .tree-table-cell .namecell {
    -fx-font-family: monospace;
}

.list-view:focused .list-cell:selected .formula-view .text {
    -fx-fill: whitesmoke;
}

.formula-view {
    -fx-font-family: monospace;
    -fx-background-color: transparent;
}

.formula-view .highlighted {
    -rtfx-background-color: #62b3cf;
    -fx-fill: whitesmoke;
}

.formula-view .modified {
    -rtfx-background-color: #55EE55;
}

.formula-view .reference-selected {
    -rtfx-background-color: #2bc0cf;
    -fx-fill: whitesmoke;
}

.list-cell.formula-cell:formula-added {
    -fx-background-color: #74eea0;
}

.list-cell.formula-cell:formula-deleted {
    -fx-background-color: #ee9486;
}

.list-cell.formula-cell:formula-modified {
    /* -fx-background-color: #f2aaf2; This looks ridiculous haha */
}

.list-cell.formula-cell:formula-referenced {
    -fx-background-color: #f2aaff;
}


.undecorated-button {
    -fx-padding: 0 0 0 0;
    -fx-border: none;
    -fx-border-color: none;
    -fx-background: none;
    -fx-background-color: none;
    -fx-background-insets: none;
}

.button-overlay {
    -fx-background-fill: rgba(0, 0, 0, 0.5);
}

.rule-view {
    -fx-background-color: #fff;
    -fx-border-radius: 4px;
    -fx-border-color: #dedede;
}

.rule-view:selected {
    -fx-border-color: #62b3cf;
}

.rule-view .label.branch-count:closes .text {
    -fx-fill: #5E5;
}

.rule-view .label.branch-count:non-splitting .text {
    -fx-fill: #555; /*#AAF;*/
}

.rule-view .label.branch-count:splitting .text {
    -fx-fill: #E55;
}

.rule-view .label.rule-name .text {
    -fx-font-family: monospace;
}

.rule-view .button.refine,
.rule-view .button.apply,
.rule-view .button.applyEx {
    -fx-font-size: 12px;
}


.label.branch-count .glyph-icon {
    -fx-scale-y: -1;
    -fx-fill: #555;
}

.display-1 {
    -fx-font-size: 20px;
}

.code {
    -fx-font-family: monospace;
    -fx-background-color: white;
}
.code-dirty{
    -fx-background-color: #b8b5bc;
}

.log:error .text {
    -fx-fill: #E55;
}

.log:warning .text {
    -fx-fill: #E1A21A;
}

.log:info .text {
    -fx-fill: #2CAE26;
}

