.overview .cell .indexed-cell .tree-table-cell .namecell {
    -fx-font-family: monospace;
}

.list-view:focused .list-cell:selected .term-view .text {
    -fx-fill: whitesmoke;
}

.term-view {
    -fx-font-family: monospace;
    -fx-background-color: transparent;
}

.term-view .highlighted {
    -rtfx-background-color: #62b3cf;
    -fx-fill: whitesmoke;
}

.undecorated-button {
    -fx-padding: 0 0 0 0;
    -fx-border: none;
    -fx-border-color: none;
    -fx-background: none;
    -fx-background-color: none;
    -fx-background-insets: none;
}

.button-overlay {
    -fx-background-fill: rgba(0, 0, 0, 0.5);
}

.rule-view {
    -fx-background-color: #fff;
}

.rule-view.closes {
    -fx-background-color: #0f0;
}

.rule-view.non-splitting {
    -fx-background-color: #AAF;
}

.rule-view.splitting {
    -fx-background-color: #FF0;
}