.code-keyword {
    -fx-fill: #0000FF;
}

.specification-keyword {
    -fx-fill: #800080;
}

.comment {
    -fx-fill: #008000;
}

.type-literal {
    -fx-fill: #008080;
}

.value-literal {
    -fx-fill: #09885A;
}

.highlight-line {
    -rtfx-background-color: #8f939b;
}

.lowlighted {
    -fx-fill: #9c9c9c
}

.guard-positive {
    -fx-underline: true;
}

.guard-negative {
    -fx-strikethrough: true;
}

.reference-backlighted {
    -rtfx-background-color: #62b3cf;
    /* Does not work, unfortunately
     * should work according to https://github.com/TomasMikula/RichTextFX/wiki/RichTextFX-CSS-Reference-Guide#the-additional-css-properties-for-textext
    -rtfx-border-stroke-color: #62b3cf;
    -rtfx-border-stroke-width: 1px;
    -rtfx-border-stroke-type: outside;
    */
}