<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<configuration>
    <dafnyFile>test.dfy</dafnyFile>
    <dafnyFile>test2.dfy</dafnyFile>
    <settings>
        <set>
            <entry>
                <key>KeY Timeout</key>
                <value>10</value>
            </entry>
            <entry>
                <key>Dafny Timeout</key>
                <value>5</value>
            </entry>
            <entry>
                <key>SMT Timeout</key>
                <value>10</value>
            </entry>
            <entry>
                <key>Unroll Loops</key>
                <value>false</value>
            </entry>
        </set>
    </settings>
</configuration>